
/* extra learge device */
@media screen and (min-width:1300px) and (max-width:1700px) {
    /* Hero area */
    .slider-area .single-slider .slider-content-wrap .slider-content h2.title-text {
    font-size:70px
    }
}
/* Custom device */
@media screen and (min-width:1000px) and (max-width:1300px) {
    /* Hero area */
    .slider-area .single-slider .slider-content-wrap .slider-content h2.title-text {
        font-size:70px
    }
    /* single slider */
    .slider-area .slider-wrapper .single-slider {
        padding: 300px 0 337px 100px;
    }
    /* .single service item */
    .single-service-list-item-wrap{
        display: grid;
        position: static;
        grid-template-rows: 1fr;
        column-gap: 25px;
        grid-template-columns: repeat(3, 1fr);
    }
    /* primary btn */
    .primary-btn-area a.primary-btn{
        padding: 10px 20px;
        width: 125px;
        font-size: 14px;
    }
}
@media screen and (min-width:768px) and (max-width:1000px) {
    /* Hero area */
    .slider-area .single-slider .slider-content-wrap .slider-content h2.title-text {
    font-size:50px
    }
    /* primary btn */
    .primary-btn-area a.primary-btn{
        padding: 10px 20px;
        width: 120px;
        font-size: 15px;
    }
}
/* desktop device */
@media screen and (min-width:767px) and (max-width:992px) {
    /* .header top */
    .header-top-inner{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    /* Hero area */
    .slider-area .single-slider .slider-content-wrap .slider-content h2.title-text {
        font-size:50px
    }
    /* single slider */
    .slider-area .slider-wrapper .single-slider {
        padding: 300px 0 337px 100px;
    }
    /* .single service item */
    .single-service-list-item-wrap{
        position: static;
    }
}

/* tablet device */
@media screen and (max-width:768px) {
    /* .header top */
    .header-top-inner{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    /* .single service item */
    .single-service-list-item-wrap{
        position: static;
    }
}

/* mobile device */
@media screen and (min-width:580px) and (max-width:765px) {
    /* Hero area */
    .slider-area .single-slider .slider-content-wrap .slider-content h2.title-text {
        font-size:50px
    }
    /* Special Customers */
    .our-best-customer-bio{margin-top: 80px;}
    /* single slider */
    .slider-area .slider-wrapper .single-slider {
        padding: 300px 0 337px 50px;
    }
}
@media screen and (min-width:310px) and (max-width:665px){
    /* body */
    body,html{overflow-x: hidden;}
    /* Hero area */
    .slider-area .single-slider .slider-content-wrap .slider-content h2.title-text {
        font-size:30px;line-height: 50px;
    }
    /* Special Customers */
    .our-best-customer-bio{margin-top: 80px;}
    /* single slider */
    .slider-area .slider-wrapper .single-slider {
        padding: 300px 0 337px 40px;
    }
}
@media screen and (min-width:180px) and (max-width:349px) {
    /* body */
    body,html{overflow-x: hidden;}
}
