@keyframes MovefadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.MovefadeUp {
  -webkit-animation-name: MovefadeUp;
  animation-name: MovefadeUp;
}

// primary animataion
@keyframes sliderInup{
0%{
  transform: rotate(100deg) translate(-50%,-50%); visibility: hidden;
}
  100%{
    top: 200%;
    left: -200%;
    visibility: visible;
  }
}

// Ripple Animate
@-webkit-keyframes ripple {
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes ripple {
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

// Pulse Animated
@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(255, 255, 255, 0);
  }
}

@-moz-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(255, 255, 255, 0);
  }
}

@-ms-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(255, 255, 255, 0);
  }
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(255, 255, 255, 0);
  }
}

// Animate Line Bar
@-webkit-keyframes animatelinebar {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  100% {
    -webkit-transform: translateX(25px);
    transform: translateX(25px);
  }
}

@keyframes animatelinebar {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  100% {
    -webkit-transform: translateX(25px);
    transform: translateX(25px);
  }
}

// Slide Up Down

@-webkit-keyframes slideUpIn {
  0% {
    -webkit-transform: translateY(40px);
  }

  100% {
    -webkit-transform: translateY(0);
  }

  0% {
    -webkit-transform: translateY(40px);
  }
}


@keyframes slideUpIn {
  0% {
    transform: translateY(40px);
  }

  100% {
    transform: translateY(0);
  }

  0% {
    transform: translateY(40px);
  }
}

// Animated Top Bottom
@-webkit-keyframes MoveLeftRight {
  0% { transform: translateX(0); }
  100% { transform: translateX(-10px); }
}
@keyframes MoveLeftRight {
  0% { transform: translateX(0); }
  100% { transform: translateX(-10px); }
}
@-webkit-keyframes MoveTopRight {
  0% { transform: translate(0, -50%); }
  100% { transform: translate(0); }
  0% { transform: translate(0, -50%); }
}
@keyframes MoveTopRight {
  0% { transform: translate(0, -50%); }
  100% { transform: translate(0); }
  0% { transform: translate(0, -50%); }
}

// Animated Left Right
@-webkit-keyframes MoveUpDown {
  0% { transform: translateY(0); }
  100% { transform: translateY(-30px); }
}
@keyframes MoveUpDown {
  0% { transform: translateY(0); }
  100% { transform: translateY(-30px); }
}

// Animated Left Right
@-webkit-keyframes ZoomInOut {
  0% { transform: scale(0.1); }
  100% { transform: scale(1); }
}
@keyframes ZoomInOut {
  0% { transform: scale(0.1); }
  100% { transform: scale(1); }
}

// Animated Left Right
@-webkit-keyframes Animated3 {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes Animated3 {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
// Animated Left Right
@-webkit-keyframes Animated4 {
  0% { transform: translateX(0); }
  100% { transform: translateX(-10px); }
}
@keyframes Animated4 {
  0% { transform: translateX(0); }
  100% { transform: translateX(-10px); }
}


//Up To Down
@keyframes UpToDown {
  49% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  50%{
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  51%{
    opacity: 1;
  }
}
// Hero slider
@keyframes slideInup {
  0%{transform: scale(1); opacity: 1;}
  100%{transform: scale(1.3); opacity: 1;}
}
// Software providing small image
@keyframes slideinup {
  0%{transform: scale(1); opacity: 1;}
  100%{transform: scale(1.3); opacity: 0;}
}
// Software providing Big image
@keyframes slideinupdown {
  0%{
    transform: translate(-50%,-50%) skew(-11deg, 51deg) translateY(-800%);
  }
  100%{
    transform: translate(-50%,-50%) skew(-11deg, 51deg) translateY(800%);
    opacity: .4;
  }
}
// Btn
@keyframes slideInRight {
  0%{
      top: -400%;
  }
  100%{
      top: 400%;
  }
}

// software-shape-2
@keyframes slideDown{
    0%{
       transform: translateY(20px);
    }
    100%{transform: translateY(0);}
}
// Software left Area Small ImAGE

// Faq 360 degree rotate animation

@keyframes rotateIn360{
    100%{transform:rotate(360deg)}
}

// @keyframes slideinup{
    // 0%{transform:scale(1);opacity:.3;}
    // 100%{transform:scale(1.3); opacity:0;}
// }

// Software left Area Big ImAGE

// @keyframes slideinupdown{
    // 0%{
        // top: -400%;
        // right: -400%;
        // opacity: 0;
        // visibility:hidden;
    // }
    // 100%{
        // top: 400%;
        // right: 400%;
        //  opacity:1;
        //  visibility:visible;
        // }
// }
