.brand-area{
    background-color: #FE6809;
    padding: 20px 0;
    margin: 40px 0;

    .active-brand-slide-infinite {
        .single-brand {
            font-size: 30px;
            line-height: 40px;
            color: #fff;
            font-weight: 600;
            // display: inline-block;
            min-width: 50px;
            max-height: 40px;
            height: 100%;
            margin: auto;
            text-align: center;
            width: 100%;
            font-family: 'Teko',sans-serif;
            letter-spacing: 1px;
            text-transform: capitalize;
            @include lg{font-size: 25px;};
            @include md{font-size: 20px;};
            @include sm{font-size: 17px;}
            @include xl{font-size: 20px;}
        }
    }
}